<section class="mt-2">
    <nav role="navigation">
        <a class="mr-2 nv-item" href="{{ "/" | prepend: site.baseurl }}" >
        blog
        </a>

        <a class="mr-2 nv-item" href="{{ "/about/" | prepend: site.baseurl }}">
        about
        </a>

        <a class="mr-2 nv-item" href="{{ "/projects/" | prepend: site.baseurl }}">
        projects
        </a>

        <a class="mr-2 nv-item" href="{{ "/subscribe/" | prepend: site.baseurl }}">
        subscribe
        </a>

        <a class="mr-2 nv-item" target="_blank" href="{{ site.rss_url }}" >
            rss
        </a>
    </nav>
</section>
