<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>
    <header>
        <a href="{{site.baseurl}}/">
            <h1 id="layout_header_title">
                isaak<span class="dot">.</span>dev
            </h1>
        </a>
        <span style="font-size: 15px" class="mt-0">
            {{ site.description }}
        </span>
        {% include navigation.html %}
    </header>
    <section class="posts">
        {% for post in site.posts %}
        <div class="post">
            <a href="{{site.baseurl}}{{post.url}}">
                <h3>{{ post.title }}</h3>
            </a>
            <div id="smalls" class="justify-content-between">
                <small>{{ post.date|date_to_string }}</small>
                <small>
                    {% assign words = post.content | number_of_words %}
                    {% if words < 360 %}
                    1 min
                    {% else %}
                    {{ words | divided_by:180 }} mins
                    {% endif %} read
                </small>
                <small>
                    <a data-disqus-identifier="{{ post.id }}" href="{{ post.url | prepend: site.baseurl }}#discussion">
                        comments
                    </a>
                </small>
            </div>
            <div class="mt-2">
                {{ post.description }}
            </div>
        </div>
        {% if forloop.last == false %}<hr>{% endif %}
        {% endfor %}
    </section>
    {% include footer.html %}
</main>
<script id="dsq-count-scr" src="//{{ site.disqus_id }}.disqus.com/count.js" async></script>
</body>
</html>
