<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>
    {% include post_header.html %}
    {% include navigation.html %}
    <article style="margin-top:3rem!important">
        <div class="meta">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <div class="justify-content-between mb-3">
                <small class="mr-2" style="display: inline">{{ page.date|date_to_string }}</small>
                <small class="mr-2" style="display: inline">
                    {% assign words = content | number_of_words %}
                    {% if words < 360 %}
                    1 min
                    {% else %}
                    {{ words | divided_by:180 }} mins
                    {% endif %} read
                </small>
                <small style="display: inline;">
                    <a target="_blank" style="color: rgba(0, 0, 0, 0.9);"
                       href="{{ site.github_edit_url }}/{{ page.path }}">edit this page</a>
                </small>
            </div>

        </div>
        <div class="content">
            {{ content }}
        </div>
    </article>
    {% include footer.html %}
</main>
</body>
</html>
