<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>
    {% include post_header.html %}
    {% include navigation.html %}
    <article style="margin-top:3rem!important">
        <div class="meta">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <div id="smalls" class="justify-content-between mb-3">
                <small class="grey">{{ page.date|date_to_string }}</small>
                <small class="grey">
                    {% assign words = content | number_of_words %}
                    {% if words < 360 %}
                    1 min
                    {% else %}
                    {{ words | divided_by:180 }} mins
                    {% endif %} read
                </small>
                {% if page.comments != false %}
                    <small>
                        <a href="#discussion">start a discussion</a>
                    </small>
                {% endif %}
                <small>
                    <a target="_blank" href="{{ site.github_edit_url }}/{{ page.path }}">edit this page</a>
                </small>
            </div>

        </div>
        <div class="content">
            {% include anchors.html html=content %}
        </div>
    </article>

    <div class="text-center mt-5 mb-5">
        <hr class="mb-4">
        <a id="subscribe" href="/subscribe">
            <h4>Subscribe to my blog if you want more</h4>
        </a>
    </div>

    <!-- Disqus comments view -->
    {% if page.comments != false and site.disqus_id %}
    <div class="post-disqus" id="discussion">
        {% include disqus.html %}
    </div>
    {% endif %}

    {% include footer.html %}
</main>
<script src="{{ "/assets/js/vanilla-back-to-top.min.js" | prepend: site.baseurl }}"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(225, 83, 67)',
  textColor: '#fff'
})</script>
</body>
</html>
